@charset "UTF-8";
	.board{
		border-collapse: collapse;
 		border: 1px solid black;
 		margin:auto;
	}
	.top{
		background-color:#8EE088;
		height:120px;
		width:70px;
	}
	.down{
		background-color:#FF6C6C;
		height:120px;
		width:70px;
	}
	.lside{
		background-color:#FFCA6C;
		height:70px;
		width:120px;
	}
	.rside{
		background-color:#6D6CFF;
		height:70px;
		width:120px;
	}
	.coner{
		background-color:#EAEAEA;
		height:120px;
		width:120px;
	}
	.center{
		height:65px;
		width:65px;
	}
	table {
		border-collapse: collapse;
	}
	.txtcen{
		text-align: center
	}
	.dice{
		height:60px;
		width:60px;
	}
	.holse{
		width:30px;
		text-align: center;
	}
	.upp{
		text-align:center;
		float:left;
		width: 100%;
		height: 70%;
	}
	.ubp{
		text-align:center;
		float:left;
		width: 100%;
		height: 30%;
	}
	.spp{
		text-align:center;
		float:left;
		width: 70%;
		height: 100%;
	}
	.sbp{
		text-align:center;
		float:left;
		width: 30%;
		height: 100%;
	}
	.inner{
		text-align:center;
		float:left;
		width: 100%;
		height: 100%;
	}